/* .mini-category-item {
    background-color: pink;
    border: solid black;
    display: inline-block;
    width: 40%;
    margin-right: 5%;
    height: 300px;
    padding: 0;
    position: relative;
    border-radius: 20px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;

}

.item-box {
 
    position: absolute;
    left: 25%;
    display: flex;
    top: 30%;
    width: 74%;
    font-family: 'Noto Sans KR', sans-serif;
}
*/

.mini-category {
    margin-top: 3%;
    height: 6%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    left: 40%;
    font-family: 'Noto Sans KR', sans-serif;

}





.mini-category-select {
    border: solid rgb(206, 205, 205);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.mini-category-select:hover {
    background-color: #dd5954;
}