{% extends  'base.html' %}
{% load static %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/food.css' %}">
{% endblock head %}
{% block content %}
<div class="mini-category">
    {% for mini_category in mini_categories %}
    <a href="{% url 'get_mini_category' mini_category.id %}">
        <div class="mini-category-select" id="{{mini_category.id}}"> {{mini_category }}</div>
    </a>
    {% endfor %}
</div>


<div class="item-box">
    {% for item in items %}
    <div class="mini-category-item">
        <img src="{{ item.image.url }}" style="width: 100%; height: 60%; border-radius: 20px;">
        <div>{{ item.name }}</div>
        <div>{{ item.explain }}</div>
    </div>

    {% endfor %}
</div>
<script>
    var mini_category_select = document.querySelector(".mini-category-select");
    for (i = 0; i < 10; i++){
        if (mini_category_select.id == {{ items.0.mini_category_id }}) {
        console.log("안녕하다")
        mini_category_select.style.backgroundColor = "#dd5954"}}

</script>



{% endblock content %}