[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/lotte_subscribe/venv_lotte/bin/uwsgi -i /srv/lotte_subscribe/lotte_subscribe/.config/uwsgi/lotte_subscribe.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
