{% extends 'base.html' %}
{% block head %}
    <title>home</title>
{% endblock head %}

{% block content %}
    {% if user.is_authenticated %}
        <div><a href="{% url 'logout' %}">로그아웃 넣을까</a></div>
    {% else %}
        <div><a href="{% url 'login' %}">로그인</a></div>
    {% endif %}

    {% for notice in notices %}
        <div><a href="{% url 'notice' notice.id %}">{{ notice.title }}</a></div>
        <div>{{ notice.content }}</div>
        <div>{{ notice.date }}</div>
        <div>{{ notice.image }}</div>
    {% endfor %}
    <br>
    {% for category in categories %}
        <div><a href="{% url 'category' category.id %}">{{ category.name }}</a></div>
    {% endfor %}
{% endblock content %}
