{% extends 'base.html' %}
{% block head %}
<title>home</title>
{% endblock head %}

{% block content %}
<div class="carousel-container">
    <div class="carousel-slide">

        <img src="../static/KakaoTalk_20201010_172316264.png" id="lastClone">
        <img src="../static/KakaoTalk_20201010_172318116.png">
        <img src="../static/KakaoTalk_20201010_172316264.png">
        <img src="../static/KakaoTalk_20201010_172318116.png" id="firstClone">
    </div>
    <div class="carousel-text"><br>
        <div style="font-size:28px; margin-left:20px;">
            <b>❗ 공지사항</b>
        </div><br>
        {% for notice in notices %}
        <div style="font-size:20px; margin-left:20px;"><a
                href="{% url 'notice' notice.id %}">◾{{ notice.title }}<br><br></a></div>
        {% endfor %}
    </div>
    <div class="prev-btn">
        <img src="../static/slider_arrow_L.png">
    </div>
    <div class="next-btn">
        <img src="../static/slider_arrow_R.png">
    </div>
</div>
<!-- {% for notice in notices %}
<div><a href="{% url 'notice' notice.id %}">{{ notice.title }}</a></div>
<div>{{ notice.content }}</div>
<div>{{ notice.date }}</div>
<div>{{ notice.image }}</div>
{% endfor %}
<br> -->
<div class="introduce-img">
    <img src="../static/introduce2.png">
</div>
<script src="../static/js/carousel.js"></script>
{% endblock content %}