{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>관심있는 구독</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_likes.css' %}">
{% endblock head%}    

{% block content %}
    {% for item in items %}

        <div><img src="{{ item.image.url }}"></div>
        <div>{{ item.name }}</a></div>
        <div>{{ item.explain }}</div>
        <div>{{ item.category }}</div>
        
        {% if user.is_authenticated %}
        <a href="{% url 'like_toggle' item.id %}">
        {% if item in user.likes.all %}
            <img src="{% static '꽉찬 하트.png' %}">
        {% else %}
            <img src="{% static '빈 하트.png' %}">
        {% endif%}
        </a>
    
        {% endif%}
    {% endfor %}
<br>

{% endblock content %}

</html>