{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>구독중인 서비스</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_subscribes.css' %}">
    {% endblock head%}
    
</head>

<body>
    {% block content %}
    <div class="my-like-container">
        <p style="font-size: 30px;">내 구독 관리</p>
        <hr style="margin-bottom: 5%; height: 3px; border: 0; background-color: black; width:80%; margin-left:0;">
        <div class="item-box">
            {% for item in items %}
            <div class="low-box">
                <img src="{{ item.image.url }}">
                <div class="low-box-explain-box">
                    <div class="low-box-explain">
                        <div>{{ item.name }}</a></div>
                        <div>{{ item.explain }}</div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <div class="like-image">
                    <a href="{% url 'subscribe_toggle' item.id %}">
                        {% if item in user.subscribes.all %}
                        <div class="unsub">구독 취소</div>
                        {% else %}
                        <div class="sub">구독 하기</div>
                        {% endif%}
                        </a>
                </div>
                {% endif %}

            </div>

            {% endfor %}
        </div>
    </div>

    {% endblock content %}
</body>

</html>