{% extends 'base.html' %}

{% block head %}
    <title>마이 구독쓰</title>
{% endblock head%}

{% block content %}
    {% for item in items %}
        {% if item in user.likes.all %}
            <div>unlike</div>
        {% else %}
            <div>like</div>
        {% endif %}
        {% if item in user.subscribes.all %}
            <div>unsub</div>
        {% else %}
            <div>sub</div>
        {% endif %}
        <div>{{ item }}</div>
    {% endfor %}
    <br>
    {% for category in categories %}
        <div><a href="{% url 'category' category.id %}">{{ category.name }}</a></div>
    {% endfor %}
    <div><a href="{% url 'mypage' %}">마이페이지</a></div>
{% endblock content %}