{% extends 'base.html' %}
{% load static %}

<html lang="ko">

<head>
    {% block head %}
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    {% endblock head %}
</head>

<body>
    {% block content %}

    <div class="contain">
        <form action="{% url 'postuser' %}" method="POST">
            <div class="txt"><b>회원가입</b></div>
            <hr size="2.5" color="black" width="50%" align="left"><br>

            <div>
                <label class="a" for="name"><b>이름</b></label><input class="in" type="text" name="name"></div>
            <div>
                <label class="b" for="username"><b>아이디</b></label><input class="in" type="text" name="username"></div>
            <div>
                <label class="c" for="password"><b>비밀번호</b></label><input class="in" type="text" name="password"></div>
            <div>
                <label class="d" for="phone_number"><b>휴대폰 번호</b></label><input class="in" type="text"
                    name="phone_number">
            </div>
            <div>
                <label class="a" for="address"><b>주소</b></label><input class="in2" type="text" name="address"
                    value="{{ address.roadFullAddr }}">
            </div>

        </form>

        <form class="address" action="{{ address_url }}" method="POST">
            <input type="hidden" value="{{ key }}" name="confmKey">
            <input type="hidden" value="{{ returnUrl }}" name="returnUrl">
            <input type="hidden" value="{{ resultType }}" name="resultType">
            <input class="btn2" type="submit" value="주소검색">
        </form>
        <input class="btn" type="submit" value="회원가입">
        <div>{{ message }}</div>

    </div>

    {% endblock content %}
</body>

</html>