{% extends 'base.html' %}

{% block head %}
    <title>회원가입</title>
{% endblock head %}

{% block content %}
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <label for="username">username</label><input type="text" name="username">
        <label for="password">password</label><input type="text" name="password">
        <label for="name">name</label><input type="text" name="name">
        <label for="phone_number">핸드폰</label><input type="text" name="phone_number">
        <div>
            <label for="address">주소</label>
            
            <div><input type="text" name="address0"></div>
            <div><input type="text" name="address1"></div>
            <div><input type="text" name="address2"></div>
        </div>
        <input type="submit" value="회원가입">
    </form>
    <form action="{{ address_url }}" method="POST">
        <input type="hidden" value="{{ key }}" name="confmKey">
        <input type="hidden" value="{{ returnUrl }}" name="returnUrl">
        <input type="submit" value="주소검색">
    </form>
    <div>{{ message }}</div>
{% endblock content %}