<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form name="formRoadPop" id="formRoadPop" method="post">
		<fieldset class="group">
			<legend>팝업 API출력유형 선택하기</legend>
			<table class="dataTable">
				<caption>팝업 API출력유형 선택하기</caption>
				<colgroup>
					<col class="cols20">
					<col class="colsAuto">
					<col class="cols33">
				</colgroup>
				<thead><tr><th class="hiddenArea" scope="row">팝업 API출력유형 선택</th></tr></thead>
				<tbody>
					<tr>
						<th scope="row">출력유형 선택(팝업)</th>
						<td colspan="2">
							<p class="item01 w320">
								<input title="도로명주소 + 지번 + 상세건물명(기본)" type="radio" name="resultType" id="resultType1" value="4" checked="checked">
								<label for="resultType1">도로명주소 + 지번 + 상세건물명(기본)</label>
							</p>
							<p class="item01 w300">
								<input title="도로명주소 + 상세건물명" type="radio" name="resultType" id="resultType2" value="3">
								<label for="resultType2">도로명주소 + 상세건물명</label>
							</p>
							<p class="item01 w320">
								<input title="도로명주소 + 지번" type="radio" name="resultType" id="resultType3" value="2">
								<label for="resultType3">도로명주소 + 지번</label>
							</p>
							<p class="item w300">
								<input title="도로명주소" type="radio" name="resultType" id="resultType4" value="1">
								<label for="resultType4">도로명주소</label>
							</p>
						</td>
					</tr>
					<tr>
						<th scope="row">스킨유형 선택(팝업)</th>
						<td class="noLine ">
							<p class="item01 w300">
								<input title="검색기본스킨" type="radio" name="resultSkin" id="resultSkin1" onclick="fnImageChanges(1);" value="1" checked="checked">
								<label for="resultSkin1">검색기본스킨</label>
							</p>
							<p class="item01 w300">
								<input title="회사로고 추가" type="radio" name="resultSkin" id="resultSkin2" onclick="fnImageChanges(2);" value="2">
								<label for="resultSkin2">회사로고 추가</label>
							</p>
							<p class="item01 w300">
								<input title="배경화면 변경" type="radio" name="resultSkin" id="resultSkin3" onclick="fnImageChanges(3);" value="3">
								<label for="resultSkin3">배경화면 변경</label>
							</p>
							<p class="item01 w300">
								<input title="테마색상 변경" type="radio" name="resultSkin" id="resultSkin4" onclick="fnImageChanges(4);" value="4">
								<label for="resultSkin4">테마색상 변경</label>
							</p>
							<div class="item01">
								<input title="사용자 승인키" type="radio" name="resultSkin" id="resultSkin5" onclick="fnImageChanges(5);" value="5">
									<label for="resultSkin5">사용자 승인키</label>
								<div class="item02">
									<input type="text" id="resultSkinConfmKey" name="resultSkinConfmKey" title="사용자승인키입력란" class="w250" disabled="disabled">
									<p class="itemText">사용하시는 CSS파일을 테스트하실 경우<span class="textRed"> 승인키를 입력</span>하여 주십시요.</p>
								</div>
							</div>
						</td>
						<td class="sampleImage">
						   <img src="/juso_support_center/img_addrlink/new/resultImg08.png" id="sampleImage" alt="팝업 API 스킨변경 예시 화면 - 검색기본스킨">
						   </td>
					</tr>
				</tbody>
			</table>
			
			<div class="button">
				<div class="btnWrap">
					<a href="javascript:goPopupApi();" title="팝업API 체험하기" class="functionBtn">체험하기</a>
					<!-- <div class="btnGuide"><p class="btnTxt">선택하신 옵션이 반영된 팝업 API 샘플을 확인할 수 있습니다.</p></div> -->
				</div>
			</div>
		</fieldset>
		
		<fieldset class="lineG" id="roadResultMap">
			<legend>팝업 API 출력결과</legend>
			<p class="title">출력결과</p>
			<div class="resultWrap">
				<table class="dataResult">
					<caption>팝업 API출력결과</caption>
					<colgroup>
						<col class="cols18">
						<col class="cols30">
						<col class="colsAuto">
						<col class="cols30">
					</colgroup>
					<thead><tr><th class="hiddenArea" scope="row">팝업 API출력결과</th></tr></thead>
					<tbody>
						<tr>
							<td><span class="headIcon">도로명주소 전체</span></td>
							<td><input title="도로명주소 전체" type="text" id="roadFullAddr" name="roadFullAddr" class="w200"></td>
							<td><span class="headIcon">건물명</span></td>
							<td><input title="건물명" type="text" id="bdNm" name="bdNm" class="w150"></td>
						</tr>
						<tr>
							<td><span class="headIcon">도로명주소</span></td>
							<td><input title="도로명주소" type="text" id="roadAddrPart1" name="roadAddrPart1" class="w200"></td>
							<td><span class="headIcon">공동주택여부</span></td>
							<td><input title="공동주택여부" type="text" id="bdKdcd" name="bdKdcd" class="w150"></td>
						</tr>
						<tr>
							<td><span class="headIcon">고객입력 상세주소</span></td>
							<td><input title="고객입력 상세주소" type="text" id="addrDetail" name="addrDetail" class="w150"></td>
							<td><span class="headIcon">시도명</span></td>
							<td><input title="시도명" type="text" id="siNm" name="siNm" class="w150"></td>
						</tr>
						<tr>
							<td><span class="headIcon">참고주소</span></td>
							<td><input title="참고주소" type="text" id="roadAddrPart2" name="roadAddrPart2" class="w150"></td>
							<td><span class="headIcon">시군구명</span></td>
							<td><input title="시군구명" type="text" id="sggNm" name="sggNm" class="w150"></td>
						</tr>
						<tr>
							<td><span class="headIcon">영문 도로명주소</span></td>
							<td><input title="영문 도로명주소" type="text" id="engAddr" name="engAddr" class="w200"></td>
							<td><span class="headIcon">읍면동명</span></td>
							<td><input title="읍면동명" type="text" id="emdNm" name="emdNm" class="w150"></td>
						</tr>
						<tr>
							<td><span class="headIcon">지번 주소</span></td>
							<td><input title="지번 주소" type="text" id="jibunAddr" name="jibunAddr" class="w200"></td>
							<td><span class="headIcon">법정리명</span></td>
							<td><input title="법정리명" type="text" id="liNm" name="liNm" class="w150"></td>
						</tr>
						<tr>
							<td><span class="headIcon">우편번호</span></td>
							<td><input title="우편번호" type="text" id="zipNo" name="zipNo" class="w45"></td>
							<td><span class="headIcon">도로명</span></td>
							<td><input title="도로명" type="text" id="rn" name="rn" class="w150"></td>
						</tr>
						<tr>
							<td><span class="headIcon">행정구역코드</span></td>
							<td><input title="행정구역코드" type="text" id="admCd" name="admCd" class="w120"></td>
							<td><span class="headIcon">지하여부</span></td>
							<td><input title="지하여부" type="text" id="udrtYn" name="udrtYn" class="w45"></td>
						</tr>
						<tr>
							<td><span class="headIcon">도로명코드</span></td>
							<td><input title="도로명코드" type="text" id="rnMgtSn" name="rnMgtSn" class="w120"></td>
							<td><span class="headIcon">건물본번 - 건물부번</span></td>
							<td><input title="건물본번" type="text" id="buldMnnm" name="buldMnnm" class="w45"> - <input title="건물부번" type="text" id="buldSlno" name="buldSlno" class="w45"></td>
						</tr>
						<tr>
							<td><span class="headIcon">건물관리번호</span></td>
							<td><input title="건물관리번호" type="text" id="bdMgtSn" name="bdMgtSn" class="w200"></td>
							<td><span class="headIcon">산여부</span></td>
							<td><input title="산여부" type="text" id="mtYn" name="mtYn" class="w45"></td>
						</tr>
						<tr>
							<td><span class="headIcon">상세건물명</span></td>
							<td><input title="상세건물명" type="text" id="detBdNmList" name="detBdNmList" class="w200"></td>
							<td><span class="headIcon">지번본번(번지) - 지번부번(호)</span></td>
							<td><input title="지번본번(번지)" type="text" id="lnbrMnnm" name="lnbrMnnm" class="w45"> - <input title="지번부번(호)" type="text" id="lnbrSlno" name="lnbrSlno" class="w45"></td>
						</tr>
						<tr>
							<td><span class="headIcon">읍면동일련번호</span></td>
							<td><input title="읍면동일련번호" type="text" id="emdNo" name="emdNo" class="w130"></td>
							<td></td><td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		</form>
</body>
</html>